app = "superset-electric"
primary_region = "iad"

[build]
image = "electricsql/electric:1.2.9"

[[vm]]
memory = "512mb"
cpu_kind = "shared"
cpus = 1

[env]
ELECTRIC_DATABASE_USE_IPV6 = "true"

[http_service]
internal_port = 3000
force_https = true

[[http_service.checks]]
interval = "10s"
timeout = "2s"
grace_period = "20s"
method = "GET"
path = "/v1/health"

[mounts]
source = "electric_data"
destination = "/var/lib/electric"
